:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-hero: #2f303a;
  --background-footer: #2f303a;
  --background-ourteam: #f5f4fa;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
  background-color: #ffffff;
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  width: 1600px;
}
/* Site nav */
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.header-item {
  margin-right: 50px;
}
.header-item:first-child {
  margin-left: 93px;
}
.contact-item {
  margin-left: 50px;
}
.contact-item:first-child {
  margin-left: 0;
}
.contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  display: block;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Navigation contact */
.contact .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
  text-decoration: none;
  display: block;
}
.web {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
}
/* Hero section */
.section {
  width: 1600px;
  padding-top: 94px;
}
.hero-sec {
  background-color: var(--background-hero);
  text-align: center;
  padding-bottom: 94px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
.hero-sec .button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--secondary-text-color);
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
}

/* Our advantages */
.list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}
.list-text {
  width: 270px;
}
.list-text.details {
  margin-right: 14px;
}
.list-text.punctuality {
  margin-right: 46px;
}
.list-text.planing {
  margin-right: 30px;
}

.advantages-title:first-child {
  margin-top: 0px;
}
.advantages-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 10px;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Our work */
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}
.examples {
  display: flex;
  justify-content: space-between;
}

/* Our team */
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}
.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  height: 19px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
.team-text.first {
  min-width: 130px;
  margin-left: 70px;
  margin-right: 70px;
}
.team-text.second {
  min-width: 147px;
  margin-left: 62px;
  margin-right: 61px;
}
.team-text.third {
  min-width: 76px;
  margin-left: 97px;
  margin-right: 97px;
}
.team-text.fourth {
  min-width: 87px;
  margin-left: 92px;
  margin-right: 91px;
}

.team-names.first {
  min-width: 151px;
  margin-left: 60px;
  margin-right: 59px;
}
.team-names.second {
  min-width: 109px;
  margin-left: 81px;
  margin-right: 80px;
}
.team-names.third {
  min-width: 137px;
  margin-left: 67px;
  margin-right: 66px;
}
.team-names.fourth {
  min-width: 134px;
  margin-left: 68px;
  margin-right: 68px;
}
/* Team */
.team {
  background-color: var(--background-ourteam);
}
.team-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.team-item {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-basis: calc(100 / 3);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:first-child {
  margin-left: 0;
}

/* Footer */
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.footer {
  background-color: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 1600px;
}
.address-list {
  margin-top: 20px;
}
.address-list .address-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address-list .address-link:hover,
.address-list .address-link:focus {
  color: var(--secondary-text-color);
}
.address-link {
  display: block;
}
.address-link.mail {
  margin-top: 9px;
}
.address-link.tel {
  margin-top: 9px;
}
/* Portfolio */
.filter-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.filter-paragraph {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.filter-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filter-item {
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
  flex-basis: calc(100 / 3);
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.filter-item > .filter.lessmargin {
  margin: 18px;
}
.filter-item:nth-child(n + 7) {
  margin: 0px;
}
.filter {
  margin: 20px 24px;
}
/* Botton */
.button {
  display: inline-block;
  border-radius: 4px;
  height: 38px;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--title-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-ourteam);
  border-color: transparent;
}
.button:hover,
.button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-color: transparent;
}
.buttons-list .button.current {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  margin-right: 8px;
}
/* Flex Buttons */
.buttons-list .button.all {
  min-width: 73px;
  margin-right: 8px;
}
.buttons-list .button.sites {
  min-width: 128px;
  margin-right: 8px;
}
.buttons-list .button.designe {
  min-width: 145px;
  margin-right: 8px;
}
.buttons-list .button.marketing {
  min-width: 103px;
  margin-right: 8px;
}
.buttons-list .button.apps {
  min-width: 130px;
}
.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
